#banner-background-front {
  background: url("/theme/images/top.png");
  background-repeat: no-repeat;
  background-position: center;
  height: var(--banner-height);
}

#banner-background-back {
  position: absolute;
  background: url("/theme/images/top-grad.png") repeat-x scroll;
  height: var(--banner-height);
  width: 100%;
}

#bottom-banner-background-back {
  background: url("/theme/images/bottom-grad.png") repeat-x scroll;
  height: var(--banner-height);
  width: 100%;
}

#bottom-banner-background-front {
  background: url("/theme/images/bottom.png");
  background-repeat: no-repeat;
  background-position: center;
  height: var(--banner-height);
}

#banner {
  height: var(--banner-height);
}
