@import 'borders.css';

:root {
  --headline-color: #0066cc;
}

html {
  background-color: #daf3fd;
}

body {
  background-color: #ffffff;
  margin: -22px auto 0px auto;
  max-width: 50em;
  font-family: segoe ui, verdana, arial, sans-serif;
}

#main-container {
  display: flex;
}

#menu {
  position: relative;
}

#menu > ul {
  list-style-type: none;
  display: flex;
  gap: 25px;
  font-size: 16px;
  padding-inline-start: 20px;
  margin-block-start: 0;
}

a {
  color: var(--headline-color);
  text-decoration: none;
}

#banner {
  height: 130px;
}

#banner > h1 {
  margin-inline-start: 20px;
  position: relative;
}

#content {
  background: #ffffff;
  padding: 10px 60px 60px 60px;
}

#content > h2 {
  margin-block-start: 0;
  color: #22436c;
  font-weight: normal;
}

#contentinfo {
  background: url("/theme/images/bottom.png");
}

#post-list {
  list-style-type: none;
  padding-inline-start: 0;
}

#index {
  position: relative;
}

#banner-background-front {
  background: url("/theme/images/top.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 130px;
}

#banner-background-back {
  position: absolute;
  background: url("/theme/images/top-grad.png") repeat-x scroll;
  height: 130px;
  width: 100%;
}

#bottom-banner-background-back {
  background: url("/theme/images/bottom-grad.png") repeat-x scroll;
  height: 130px;
  width: 100%;
}

#bottom-banner-background-front {
  background: url("/theme/images/bottom.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 130px;
}

.entry-title {
  font-size: 18px;
}
