@import "borders.css";
@import "banners.css";

:root {
  --headline-color: #0066cc;
  --banner-height: 130px;
}

html {
  background-color: #daf3fd;
  padding-right: 14px;
  padding-left: 14px;
  word-break: break-word;
}

body {
  background-color: #ffffff;
  margin: -32px auto 0;
  font-family: segoe ui, verdana, arial, sans-serif;
}

#main-container {
  display: flex;
}

#menu {
  position: relative;
}

#menu > ul {
  list-style-type: none;
  display: flex;
  gap: 25px;
  font-size: 2rem;
  padding-inline-start: 20px;
  margin-block-start: 0;
}

a {
  color: var(--headline-color);
  text-decoration: none;
}

#banner > h1 {
  margin-inline-start: 20px;
  margin-bottom: 0;
  position: relative;
  font-size: 3rem;
}

#content {
  background: #ffffff;
  padding: 30px 60px 60px 60px;
}

#content > h2 {
  margin-block-start: 0;
  color: #22436c;
  font-weight: normal;
}

#post-list {
  list-style-type: none;
  padding-inline-start: 0;
}

#index {
  position: relative;
}

.entry-title {
  font-size: 2rem;
  margin-block-start: 0;
}

.entry-content img {
  width: 100%;
}

#post-list .entry-content,
.author {
  display: none;
}

.org-src-container {
  overflow-x: scroll;
}

@media (min-width: 1200px) {
  body {
    max-width: 50rem;
  }
}

@media (max-width: 1200px) {
  #menu > ul {
    font-size: 3rem;
  }

  #banner {
    flex-direction: row;
  }

  #content {
    padding-top: 10px;
  }

  #banner > h1 {
    padding-top: 20px;
  }
}
